{{#foreach posts}}
<section id="{{id}}" class="{{post_class}}">
	<div class="post-title">
		<div>
			<a href="{{url}}">{{title}}</a>
			<span class="separator"> &middot; </span>
			{{date published_at format='MMMM D, YYYY'}}
			<span class="taglist">{{tags separator=" " prefix=" &middot; "}}</span>
			{{#if featured}}
				<span class="separator"> &middot; </span><i class="fa fa-star-o feature-star"></i>
			{{/if}}
		</div>
		<div class="post-title-excerpt">
			{{excerpt}}
		</div>
	</div>
</section>
{{/foreach}}